node_modules
dist
coverage
.env
.env.*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode
/grammar.peg
/transform.js
/codegen.js
/.parsergenrc
.lumina-cache/
examples/wasm-hello/*.wat
examples/wasm-hello/*.wasm
examples/wasm-hello/*.cjs
examples/wasm-hello/lumina-runtime.cjs
